<%- include('partials/header') %>
<div class="container mt-5">
  <h1 style="color:black">Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
    <form action="/register" method="POST">

  <%- include('partials/msgs') %>

    <div class="form-group">
      <label for="username">Name</label>
      <input
      type="name"
      id= "inputnameoftheuser"
      name= "name"
      class="form-control"
      placeholder="Enter name"
      value="<%= typeof name != 'undefined' ? name : ''%>"

      />
    </div>
    <div class="form-group">
      <label for="designation">Designation</label>
      <div class="wrapper">
        <select
        style="width:100%; "
        text="text"
        class="form-control"
        id="status"
        name="designation"
        value="">
          <option  name="status" value="" selected>Select Designation</option>
          <option  name="status" value="tester">Tester</option>
          <option  name="status" value="developer">Developer</option>
          <option  name="status" value="manager">Manager</option>
        </select>
      </div>
</div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
      type="email"
      class="form-control"
      name="email"
      placeholder="Enter Email"
        value="<%= typeof email != 'undefined' ? email : ''%>"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
      type="password"
      class="form-control"
      placeholder="Enter password"
      name="password"
      />
    </div>
    <button type="submit" class="btn btn-success">Register</button>
    <form>
      <p style="margin-top:15px"> Have Account already ? Login <a href="http://localhost:4000/login">here</a> </p>

    </form>
  </form>

        </div>
      </div>
    </div>



  </div>
</div>

<%- include('partials/header') %>
