<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div style="width:70%" class="container-fluid">
  <div class="card">
    <div class="card-body">
      <form method="post">
        <div class="form-group">
          <%- include('partials/msgs') %>
          <label class="d-block" for="bugname"> Bug Title </label>
          <input type="text" class="form-control" name="bugname" id="inputbugname" placeholder="" value="<%= typeof bugobj.nameofthebug != "undefined" ? bugobj.nameofthebug :''%> ">
        </div>
        <div class="form-group">
          <label class="d-block" for="description"> Description</label>
          <textarea type="text" class="d-block" style="height:200px;width:100%" id=inputdescription class"form-control" name="description" placeholder=""><%= typeof bugobj.description != 'undefined' ? bugobj.description : '' %></textarea>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label class="d-block" for="bugid"> Bug Id </label>
              <input style="width:225px" type="text" class="d-inline form-control" readonly="readonly id=" bugid" name="bugid" value="<%=typeof bugobj._id !='undefined' ? bugobj._id : ''%>">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="d-block" for="assignee"> Assignee</label>
              <input style="width:225px" type="text" class="d-inline form-control" readonly="readonly id=" assigneename" name="assigneename" value="<%=typeof assingeddev[0].name !='undefined' ? assingeddev[0].name: ''%>">
              <div class="wrapper">

                <select
                style="width:225px"
                onfocus="this.size=10"
                onblur="this.size=1"
                onchange="this.size=1"
                type="text"
                class="d-inline form-control"
                id="assignee"
                name="assignee"
                value="">
                <option <%=typeof bugobj.assignee !='undefined' ? bugobj.assignee : ''%></option>
                <% devs.forEach((dev, i) => { %>
                  <option  name="assigneeid" value="<%=dev._id%>"><%=dev.name%></option>
                <%});%>
                </select>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label class="d-block" for="bugstatus"> Bug Status</label>
              <input style="width:225px" type="text" class="d-inline form-control" readonly="readonly id=" bugid" name="bugstatus" value="<%=typeof bugobj.statusofthebug !='undefined' ? bugobj.statusofthebug: ''%>">
            </div>
          </div>
        </div>

        <button type="submit" name="action" value="save" formaction="/editbug/0000" class="btn btn-primary">save as new</button>

        <% if(bugobj._id !='') { %>
        <button type="submit" name="action" value="update" formaction="/editbug/<%=typeof bugobj._id !='undefined' ? bugobj._id : ''%>" class="btn btn-primary">update</button>
        <%}%>
      </form>
    </div>
  </div>
</div>





<%- include('partials/footer') %>
