<%- include('partials/header') %>
<%- include('partials/navbar') %>

  <div style="" class="container">

		<ul class="list-group">
			 <% for (let i = 0 ; i < usernameobj.length; i++){ %>
		<li class="list-group-item" style="padding:30px">
				<div class="col-md-4"><%= usernameobj[i].name %></div>
				<div class="col-md-4"><%= usernameobj[i].designation %></div>
				<div class="col-md-4"> <form action="/deleteuser/<%= usernameobj[i]._id%>">
			<input type="submit" value="DEL" /></form></div>
		</li>
		<% } %>
	</ul>

  </div>
<div class="container">
  <div class="row">
    <div class="col-4">

    </div>
  </div>
</div>

  <form action="/adduser" method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="inputusername" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="inputdesignation" id="exampleInputPassword1" placeholder="designation">
  </div>
  <button type="submit" name="button" class="btn btn-primary">Add</button>
  </form>



        <!-- <div style="margin-bottom:-10px; height:30px" class="col-12"> this is footer</div> -->


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
