<%- include('partials/header') %>
<%- include('partials/navbar') %>

  <div style="" class="container">

		<ul class="list-group">
			 <% for (let i = 0 ; i < userobj.length; i++){ %>

                       <div style="margin-bottom:10px" class="container">
                         <div class="row">
                           <div class="col-5">
                             <div style="height:300px" class="card">
                               <div class="card-body">
                                 <dl class="row">
                                   <dt style="margin-bottom:10px" class="col-sm-12 text-center">User Account <%=i%></dt>
                                   <dt class="col-sm-4">Name</dt>
                                   <dd class="col-sm-8"><%=userobj[i].name%></dd>

                                   <dt class="col-sm-4">Designation</dt>
                                   <dd class="col-sm-8">
                                     <p><%= userobj[i].designation.admin ? "Admin" : '' %><%= userobj[i].designation.developer ? "Developer" : ''%><%= userobj[i].designation.tester ? "Tester" : ''%> </p>
                                     <p> </p>
                                   </dd>

                                   <dt class="col-sm-4">Report</dt>
                                   <dd class="col-sm-8"></dd>
                               </div>
                             </div>
                           </div>

                           <div class="col-7">
                             <form class="" method="post">
                               <div style="height:300px" class="card">
                                 <div class="card-body">
                                   <div class="form-group">
                                     <label class="d-block" for="userid"> User ID </label>
                                     <input style="width:70%" type="text" class="d-inline form-control" readonly="readonly id=" " name=" userid" value="<%=userobj[i]._id %>">
                                   </div>
                                   <form method="post">
                                     <div class="form-group">
                                       <% if(userobj[i].designation.admin) { %>
                                       <button type="submit" name="action" value="revokeadmin" formaction="/updatedesignation/<%=userobj[i]._id%>" class="btn btn-primary">Revoke Admin status</button>
                                       <%}%>
                         <% if(userobj[i].designation.developer) { %>
                                       <button type="submit" name="action" value="revokedeveloper" formaction="/updatedesignation/<%=userobj[i]._id%>" class="btn btn-secondary">Revoke Developer status</button>
                                       <%}%>
                         <% if(userobj[i].designation.tester) { %>
                                       <button type="submit" name="action" value="revoketester" formaction="/updatedesignation/<%=userobj[i]._id%>" class="btn btn-info">Revoke Tester status</button>
                                       <%}%>
                         </div>
                         </form>
                         <form method="post">
                         <div class="form-group">
                         <% if(!userobj[i].designation.admin) { %>
                                       <button type="submit" name="action" value="invokeadmin" formaction="/updatedesignation/<%=userobj[i]._id%>" class="btn btn-warning">Invoke Admin status</button>
                                       <%}%>
                         <% if(!userobj[i].designation.developer) { %>
                                       <button type="submit" name="action" value="invokedeveloper" formaction="/updatedesignation/<%=userobj[i]._id%>" class="btn btn-warning">Invoke Developer status</button>
                                       <%}%>
                         <% if(!userobj[i].designation.tester) { %>
                                       <button type="submit" name="action" value="invoketester" formaction="/updatedesignation/<%=userobj[i]._id%>" class="btn btn-warning">Invoke Tester status</button>
                                       <%}%>
                         </div>
                         </form>
                         <div class="form-group"
                               <form >
           			               <button type="submit" name="action" value="delete" formaction="deleteaccount/<%=userobj[i]._id%>"class="btn btn-primary" >Delete Account</button>
                              </form>
                              </div>
                           </div>
                       </div>
                       </form>
                   </div>
                 </div>
             </div>
		<% } %>
	</ul>

  </div>
<div class="container">
  <div class="row">
    <div class="col-4">

    </div>
  </div>
</div>

  <form action="/adduser" method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="inputusername" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="inputdesignation" id="exampleInputPassword1" placeholder="designation">
  </div>
  <button type="submit" name="button" class="btn btn-primary">Add</button>
  </form>



        <!-- <div style="margin-bottom:-10px; height:30px" class="col-12"> this is footer</div> -->


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
